<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="hu.ait.android.maggie.memorygame">

    <application
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp">

        <meta-data android:name="DATABASE" android:value="sugar_scores.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME"
                   android:value="hu.ait.android.maggie.memorygame.highscores" />

        <activity
            android:name=".mainmenu.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gamescreen.GameScreenActivity"
            android:label="@string/title_activity_game_screen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/GreyActionBarTheme" >
        </activity>
        <activity
            android:name=".highscores.HighScoresActivity"
            android:label="@string/title_activity_high_scores"
            android:theme="@style/YellowActionBarTheme">
        </activity>
        <activity
            android:name=".tutorial.TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/BlueActionBarTheme">
        </activity>
    </application>

</manifest>
